.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding: 0 20px;
}

.none {
    display: none;
}

.content {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
    @media (min-width: $tablet) {
        width: 620px;
    }
    @media (min-width: $desktop) {
        width: 940px;
        padding: 0 10px;
    }
}

.tablet-breakline {
    display: none;
    @media (min-width: $tablet) {
        display: inline;
    }
    @media (min-width: $desktop) {
        display: none;
    }
}

.desktop-breakline {
    display: none;
    // @media (min-width: $tablet) {
    //     display: inline;
    // }
    @media (min-width: $desktop) {
        display: inline;
    }
}
