.advantages {
    padding: 0 20px;
    padding-top: 48px;
    background-color: $grey;

    // outline: 1px solid red;
    @media (min-width: $tablet) {
        padding-top: 27px;
    }
}

.advantages__list {
    @include list;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        width: 310px;
    }
}

.advantages__item {
    text-align: center;
    margin-bottom: 31px;
    @media (min-width: $tablet) {
        text-align: left;
        margin-bottom: 34px;
    }
}

.advantages__header {
    margin: 0;
    margin-bottom: 12px;
}

.advantages__text {
    margin: 0;
}

.advantages__wrapper {
    @media (min-width: $tablet) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 620px;
        margin: 0 auto;
    }
}

.advantages__images {
    display: flex;
    justify-content: center;

    // outline: 1px solid red;
    @media (min-width: $desktop) {
        justify-content: space-between;
    }
}

.advantages__image-wrapper {
    height: 277px;
    margin: 0;
    overflow: hidden;
    @media (min-width: $tablet) {
        position: relative;
        z-index: 1;
        height: 480px;
        margin-top: -70px;
    }
}

.advantages__img {
    // position:
}

.advantages__img--tablet {
    display: none;
    @media (min-width: $desktop) {
        display: block;
    }
}
