.contacts {
    padding-bottom: 15px;

    background-color: #ffffff;

    @media (min-width: $tablet) {
        padding-bottom: 27px;
    }

    @media (min-width: $desktop) {
        padding-bottom: 0;
    }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 10px;

    @media (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 620px;
        margin: 44px auto;
        margin-bottom: 0;
    }

    @media (min-width: $desktop) {
        width: 940px;
        margin-top: 56px;
    }
}

.contacts__list-item {
    width: 300px;
    margin-bottom: 23px;

    text-align: center;

    order: 1;

    @media (min-width: $tablet) {
        margin-bottom: 46px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 0;
    }
}

.contacts__list-item--call {
    order: 0;
}

.contacts__list-item--write {
    order: 1;

    @media (min-width: $desktop) {
        order: 2;
    }
}

.contacts__list-item--ride {
    order: 2;

    @media (min-width: $tablet) {
        width: 100%;
        margin-bottom: 0;
    }

    @media (min-width: $desktop) {
        width: 300px;
        order: 1;
    }
}

.contacts__contact-name {
    margin: 0;
    margin-bottom: 2px;

    font-family: $font-bold;
    font-size: 18px;
    color: $navy;

    @media (min-width: $tablet) {
        margin-bottom: 5px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 23px;
    }
}

.contacts__contact-data {
    margin: 0;

    font-family: $font-light;
    font-size: 24px;
    line-height: 29px;
    color: $pink;
    text-align: center;
}
