.download-app {
    background-color: #1d2631;

    @media (min-width: $tablet) {
        position: absolute;
        top: -555px;
        left: 20px;

        background-color: transparent;
    }

    @media (min-width: $desktop) {
        position: absolute;
        top: -660px;
        left: 0;
    }
}

.download-app__wrapper {
    width: auto;
    margin: 0 auto;
    padding: 28px 20px;

    text-align: center;
    color: #ffffff;

    @media (min-width: $tablet) {
        width: 300px;
        padding: 28px 0;
    }
}

.download-app__header {
    display: none;

    margin: 0;
    margin-bottom: 32px;
    padding: 0 30px;

    font-family: $font-light;
    font-size: 40px;
    line-height: 47px;
    font-weight: 300;

    @media (min-width: $tablet) {
        display: block;
    }

    @media (min-width: $desktop) {
        font-size: 50px;
        line-height: 59px;

        margin-bottom: 52px;
    }
}

.download-app__button {
    margin-bottom: 32px;

    @media (min-width: $tablet) {
        margin-bottom: 46px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 69px;
    }
}

.download-app__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    padding: 0 33px;

    @media (min-width: $tablet) {
        margin-bottom: 34px;
        padding: 0 41px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.download-app__link {
    display: flex;
    justify-content: center;
    width: 56px;
    height: 56px;

    background-repeat: no-repeat;
    background-position: center;
}

.download-app__link--apple {
    background-image: url("../../img/svg/logo-apple.svg");
}

.download-app__link--android {
    margin-top: 2px;
    background-image: url("../../img/svg/logo-android.svg");
}

.download-app__link--microsoft {
    margin-top: 4px;
    background-image: url("../../img/svg/logo-microsoft.svg");
}

.download-app__text {
    margin: 0;

    font-family: $font-light;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: $tablet) {
        font-size: 18px;
    }
}
