.header-bold {
    font-family: $font-bold;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    @media (min-width: $desktop) {
        font-size: 30px;
        line-height: 30px;
    }
}
