.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 320px;
    padding-top: 38px;

    text-align: center;

    background-color: #ffffff;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);

    @media (min-width: $tablet) {
        width: 460px;
    }
}

.modal--succes {
    @media (min-width: $desktop) {
        width: 780px;
    }
}

.modal__text-wrapper {
    padding: 0 20px;
    margin-bottom: -10px;

    @media (min-width: $tablet) {
        padding: 0 80px;
    }
}

.modal__text-wrapper--grey {
    margin-bottom: 30px;
}

.modal__header {
    margin: 0;
    margin-bottom: 26px;

    font-family: $font-bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.modal__text {
    margin: 0;
}

.modal__btn-wrapper {
    padding: 48px 20px 52px;

    @media (min-width: $tablet) {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.modal__btn-wrapper--grey {
    background-color: $grey;
}

.modal--succes .modal__btn-wrapper {
    @media (min-width: $desktop) {
        padding-left: 160px;
        padding-right: 160px;
    }
}


.modal--succes .modal__text-wrapper {
    @media (min-width: $tablet) {
        padding: 0 160px;
    }
}

.modal--hidden {
    display: none;
}
