.page-main__download-wrapper {
    position: relative;

    @media (min-width: $tablet) {
        width: 620px;
        margin: 0 auto;
        padding: 0 20px;
    }

    @media (min-width: $desktop) {
        width: 900px;
        margin: 0 auto;
    }
}
