.prices {
    position: relative;

    padding-top: 91px;
    padding-bottom: 101px;
    background-color: $grey;

    @media (min-width: $tablet) {
        padding-bottom: 68px;
    }

    @media (min-width: $desktop) {
        padding-top: 147px;
        padding-bottom: 95px;
    }
}

.prices__wrapper {
    position: relative;
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        width: 100%;
    }
}
