.slogan {
    position: relative;
    padding-top: 43px;
    // padding-bottom: 35px;
    background-color: #ffffff;
    // background-color: red;
    // outline: 1px solid red;

    background-image: url("../../img/svg/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;


    @media (min-width: $tablet) {
        padding-top: 49px;
    }
    @media (min-width: $desktop) {
        padding-top: 69px;
    }

    // background-image: url("../../img/svg/bg-triangle-white.svg");
    // background-repeat: no-repeat;
    // background-position-y: 0;
}

// .slogan::after {
//     content: "";
//     position: absolute;
//     bottom: -60px;
//     left: 0;
//     right: 0;
//     width: 100%;
//     height: 60px;
//     background-image: url("../../img/svg/bg-triangle-white.svg");
//     background-repeat: no-repeat;
//     outline: 1px solid blue
// }

.slogan__text {
    margin: 0;
    margin-bottom: 30px;

    font-family: $font-light;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: $navy;
    text-align: center;

    @media (min-width: $tablet) {
        margin-bottom: 2px;

        font-size: 40px;
        line-height: 46px;
    }
    @media (min-width: $desktop) {
        margin-bottom: 5px;

        font-size: 50px;
        line-height: 58px;
    }
}
