.works__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: -20px;
    padding: 0 20px;

    @media (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 640px;
        margin-bottom: -20px;
    }

    @media (min-width: $desktop) {
        width: 940px;
        margin-bottom: -54px;
    }
}

@supports (grid-template-columns: repeat(1, 280px)) {
    .works__wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(280px, 1fr));
        grid-gap: 20px;
        margin: 0 auto;
        padding: 0 20px;

        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(2, 300px);
            width: 620px;
        }

        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(3, 300px);
            width: 940px;
            padding: 0;
            grid-row-gap: 54px;
        }
    }
}

